<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" >
<beans>
    <bean id="sink" class="org.dbpedia.databus.mod.sink.SinkHandler">
        <constructor-arg>
            <list>
                <ref bean="file"/>
                <ref bean="sparql"/>
            </list>
        </constructor-arg>
    </bean>
    <bean id="file" class="org.dbpedia.databus.mod.sink.FileSink">
        <constructor-arg value="target/filesinkresultdir" />
    </bean>
    <bean id="sparql" class="org.dbpedia.databus.mod.sink.SparqlSink">
        <constructor-arg value="localhost:8899"/>
    </bean>
</beans>
