<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" >
<beans>
    <!--bean id="test" class="org.dbpedia.databus.indexer.Index" c:indexdbfile=".indexdb"/-->
    <bean id="index" class="org.dbpedia.databus.indexer.Index">
        <constructor-arg value=".indexdb"/>
        <constructor-arg>
            <list>
                <value>dbpedia/mappings/geo-coordinates-mappingbased/2020.02.01</value>
                <!--value>dbpedia/mappings/</value-->
            </list>
        </constructor-arg>
    </bean>

    <bean id="agent" class="org.dbpedia.databus.controller.Agent">
        <constructor-arg value=".downloadtemp" />
        <constructor-arg>
            <list>
                <ref bean="print"/>
                <ref bean="mimetype"/>
            </list>
        </constructor-arg>
        <constructor-arg ref="sink" />
    </bean>
    <bean id="sink" class="org.dbpedia.databus.sink.ModelToFileSink">
        <constructor-arg value=".resultdir" />
    </bean>
    <bean id="print" class="org.dbpedia.databus.process.PrintProcessor"/>
    <bean id="mimetype" class="org.dbpedia.databus.process.MimeTypeProcessor"/>
</beans>
